.carouselCaption{
  position: absolute;
  top: 40vh;
   text-align: center;
   width: 100%;
}
.carouselCaption h1{
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.carouselCaption p{
  color: white;
  font-size: 130%;
  font-weight: 500;
}
.carousel img{
  object-fit: cover;
  height: 98vh;
}
