nav{
  border-bottom: 2px solid red;
}
.carouselCaption{
  position: absolute;
  top: 40vh;
   text-align: center;
   width: 100%;
   z-index: 3;
}
.carouselCaption h1{
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.carouselCaption p{
  color: white;
  font-size: 130%;
  font-weight: 500;
}
.carousel img{
  object-fit: cover;
  height: 98vh;
  width: 102vw;
  z-index: 0;
}
.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 102vw;
  height: 98vh;
  background-color: rgba(0, 0, 0, 0.5);;
  z-index: 1;
}
